[submodule "external/fpm"]
	path = external/fpm
	url = https://github.com/NovikovNick/fpm.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
